# This is a basic workflow to help you get started with Actions

name: Manual

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          ls -l
          echo test, and deploy your project.
